*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.parent{
    display: flex;
    flex-wrap: nowrap;
    /* flex-direction: row; */
    gap: 10px; 
    justify-content:space-;
   
}
.yellow:hover{
    /* content: " "; */
    color: salmon;
    transition: ease-in-out 0.5ms;
    cursor: pointer;

}

.flex-items{
  
    background-color: rgb(20, 208, 20);
    height: 60px;
    width: 280px;
    border-radius: 20px;
}
.yellow{
    
    background-color: yellow;
    height: 60px;
    width: 280px;
    border-radius: 20px; 
    
}
.red{
    
    background-color: red;
    height: 60px;
    width: 280px;
    border-radius: 20px;
    z-index: 1;
}
